RewriteEngine On
RewriteBase /

RewriteRule \.git error
RewriteRule config.inc.php error
RewriteRule server.inc.php error
RewriteRule mission.inc.php error

RewriteRule ^ajax/(.*)/(.*) index.php?ajax=true&action=$1&subaction=$2 [QSA]
RewriteRule ^ajax/(.*) index.php?ajax=true&action=$1 [QSA]
RewriteRule ^ajax index.php?ajax=true [QSA]
RewriteRule ^chatstream index.php?stream=true&action=chat&subaction=refresh [QSA]
RewriteRule ^home index.php?action=home [QSA]
RewriteRule ^logout index.php?action=home&subaction=logout [QSA]
RewriteRule ^chat/([0-9]+) index.php?action=chat&conversation_id=$1 [QSA]
RewriteRule ^chat/(.*) index.php?action=chat&subaction=$1 [QSA]
RewriteRule ^chat index.php?action=chat [QSA]
RewriteRule ^admin/(.*) index.php?action=admin&subaction=$1 [QSA]
RewriteRule ^admin index.php?action=admin [QSA]
RewriteRule ^preferences index.php?action=preferences [QSA]
RewriteRule ^(file|css|js|archive)/(.*) index.php?action=file&subaction=$1&id=$2 [QSA]
RewriteRule ^debug/run index.php?action=debug&subaction=run [QSA]

ErrorDocument 400 /index.php?action=error&page=%{REQUEST_URI}
ErrorDocument 403 /index.php?action=error&page=%{REQUEST_URI}
ErrorDocument 404 /index.php?action=error&page=%{REQUEST_URI}
ErrorDocument 500 /index.php?action=error&page=%{REQUEST_URI}

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
