RewriteEngine On
RewriteBase /delay/

RewriteRule config.inc.php error

RewriteRule ajax/*$ index.php?action=ajax       [QSA]

RewriteRule ^home index.php?action=home [QSA]
RewriteRule ^chat index.php?action=chat [QSA]
RewriteRule ^admin index.php?action=admin [QSA]
RewriteRule ^login index.php?action=home&subaction=login [QSA]
RewriteRule ^logout index.php?action=home&subaction=logout [QSA]

ErrorDocument 400 index.php?action=error
ErrorDocument 403 index.php?action=error
ErrorDocument 404 index.php?action=error
ErrorDocument 500 index.php?action=error

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

