#navigation {
    background: #26308B; /*dark*/
}

.navigation-title {
    background: #AEB3FC; /*light*/
}

#room-container {
    border: 2px solid #414ba5; /*highlight*/
}

#rooms a {
    border: 1px solid #8e9be7;
    color: #8e9be7;
}

#rooms a:hover {
    background: #8e9be7;
}

#current-delay-container {
    border: 2px solid #414ba5;
}

.sim-param-label {
    color: #8e9be7;
}


#copyright {
    color: #7a7bb9;
}

#copyright a {
    color: #7a7bb9;
}

#newmsg {
    background: #26308b;    
}

.response {
    border-color: rgb(55, 56, 128);
    background-color: rgb(174, 179, 252);
}

.dropbtn {
    background-color: #AEB3FC;
}

.dropdown:hover .dropbtn {
    color: #AEB3FC;
    background-color: #414BA5;
}