body, html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
    background-color: #444;
    height: 100%;
}

body {
    display: flxe;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#canvas {
    position: absolute;
    color: #000000;
    height: 100%;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;
    left: 50%;
    transform: translateX(-50%);
}

#container {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 600px;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: #222222;
    color: #ACACAC;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}


#header-title {
    position: absolute;
    left: 35px;
    font-size: 14pt;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#navigation {
    position: absolute;
    top: 40px;
    bottom: 0px;
    
    left: 22px;
    width: 230px;
    height: calc(100% - 60px);
    background: #26308B; /*dark*/
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.navigation-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0px;
    text-align: center;
    line-height: 20px;
    background: #AEB3FC; /*light*/
    font-weight: bold;
    font-size: 14px;
}

#room-container {
    position: absolute;
    top: 10px;
    bottom: 264px;
    width: 228px;
    border-radius: 10px;
    border: 2px solid #414ba5; /*highlight*/
    overflow-y: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

#rooms {
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

#rooms a {
    position: relative;
    list-style-type: none;
    padding: 5xp;
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
    float: left;
    text-align: center;
    border: 1px solid #8e9be7;
    color: #8e9be7;
    background-color: #222222;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-radius: 5px;
}

#rooms a:hover {
    background: #8e9be7;
    color: #DDDDDD;
}

#rooms::-webkit-scrollbar {
    width: 10px;
}

/* Track */

#rooms::-webkit-scrollbar-track {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #CCC;
}

/* Handle */

#rooms::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #888;
}

/* Handle on hover */

#rooms::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#current-delay-container {
    position: absolute;
    width: 228px;
    bottom: 50px;
    border-radius: 10px;
    border: 2px solid #414ba5;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.sim-param-label {
    color: #8e9be7;
    padding-left: 10px;
    padding-top: 5px;
}

.sim-param-value {
    font-weight: bold;
    color: #cecece;
    text-align: right;
    padding-bottom: 5px;
    padding-right: 10px;
}

#copyright {
    position: absolute;
    bottom: 10px;
    height: 15px;
    left: 22px;
    width: 250px;
    color: #7a7bb9;
    text-align: center;
}

#copyright a {
    color: #7a7bb9;
}

#content {
    position: absolute;
    top: 40px;
    left: calc(253px + 22px);
    right: 22px;
    bottom: 100px;
    background: #c7c7c7;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#newmsg {
    position: absolute;
    bottom: 0px;
    left: calc(250px + 22px);
    right: 22px;
    height: 100px;
    background: #26308b;
}

#newmsg div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 100px;
    bottom: 10px;
}

#newmsg textarea {
    position: absolute;
    width: 80%;
    height: 75px;
    resize: none;
    border-radius: 5px;
    
}

/* Chat containers */

#msg-container {
    background-color; green;
}

.msg {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    float: left;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.msg img {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

.newmsg-attach {
    background-color: inherit;
    border-radius: 2px;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    color: #FFF;
    font-family: 'Times', 'Times New Roman', 'serif', 'sans-serif', system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Fira Sans', 'Roboto', 'Noto', 'Droid Sans', 'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium', 'Century Gothic', 'Liberation Sans', sans-serif, 'EmojiSymbols';
}

/* Darker chat container */

.response {
    border-color: rgb(55, 56, 128);
    background-color: rgb(174, 179, 252);
    float: right;
    resize: horizontal;
}

.msg-from {
    font-weight: bold;
    padding-bottom: 3px;
}

.msg-content {

}

.msg-time {
    color: #666666;
}

/* Clear floats */

.msg::after {
    content: "";
    clear: both;
    display: table;
}

#msg-container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style The Dropdown Button */

.dropbtn {
    background-color: #AEB3FC;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    line-height: 32px;
    padding: 0px 10px;
    border: 3px solid #222222;
    color: #222222;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
    z-index: 1;
    margin-right: 3px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E1E1E1
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    color: #AEB3FC;
    background-color: #414BA5;
}