:root {
    --background-dark: #26308B;
    --background-light: #AEB3FC;
    --text-light-opaque: #AEB3FC;
    --border-dark: #414BA5; 
    --text-light-bright: #8E9BE7;
    --text-dark-opaque: #7A7BB9;
    --content-back: #C7C7C7;
}