#navigation {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 22px;
    width: 230px;
    height: calc(100% - 60px);
    background: var(--background-dark);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.navigation-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0px;
    text-align: center;
    line-height: 20px;
    background: var(--text-light-opaque);
    font-weight: bold;
    font-size: 14px;
}

#room-container {
    position: absolute;
    top: 10px;
    bottom: 264px;
    width: 228px;
    border-radius: 10px;
    border: 2px solid var(--border-dark);
    overflow-y: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

#rooms {
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0px;
    padding-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.room {
    position: relative;
    list-style-type: none;
    padding: 5xp;
    margin-top: 10px;
    width: 90%;
    margin-left: 10px;
    float: left;
    text-align: center;
    border: 1px solid #8e9be7;
    color: #8e9be7;
    background-color: #222222;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-radius: 5px;
}

.room-selected {
    color: #000;
    background-color: rgb(255, 255, 255, 0.2);
}

#rooms a {
    border: 1px solid var(--text-light-bright);
    color: var(--text-light-bright);
}

#rooms a:hover {
    background: var(--text-light-bright);
    color: #DDDDDD;
}

#rooms::-webkit-scrollbar {
    width: 10px;
}

/* Track */

#rooms::-webkit-scrollbar-track {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #CCC;
}

/* Handle */

#rooms::-webkit-scrollbar-thumb {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #888;
}

/* Handle on hover */

#rooms::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#current-delay-container {
    position: absolute;
    width: 228px;
    bottom: 50px;
    border-radius: 10px;
    border: 2px solid var(--border-dark);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.sim-param-label {
    color: var(--text-dark-opaque);
    padding-left: 10px;
    padding-top: 5px;
}

.sim-param-value {
    font-weight: bold;
    color: var(--text-light-bright);
    text-align: right;
    padding-bottom: 5px;
    padding-right: 10px;
}

#copyright {
    position: absolute;
    bottom: 10px;
    height: 15px;
    left: 22px;
    width: 250px;
    color: var(--text-light-opaque);
    text-align: center;
}

#copyright a {
    color: var(--text-light-opaque);
}

#content {
    position: absolute;
    top: 40px;
    left: calc(253px + 22px);
    right: 22px;
    bottom: 100px;
    background: var(--content-back);
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 80px;
}

.msg {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    float: left;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.msg-avatar {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
}

.msg-image, .msg-video {
    width: calc(100% - 50px);
    border-radius: 10px;
}

.msg-audio {
    width: calc(100% - 50px);
    height: 50px;
}

#new-msg {
    position: absolute;
    bottom: 0px;
    left: calc(250px + 22px);
    right: 22px;
    height: 100px;
    background: var(--background-dark);  
    padding: 0px;
    margin: 0px;
}

#new-msg textarea {
    position: absolute;
    width: calc(100% - 150px);
    top: 10px;
    left: 10px;
    height: 64px;
    resize: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0px;
    border: 0px;
    font-size: 11pt;
    background-color: var(--background-light);
}

#send-btn {
    position: absolute;
    font-size: 16px;
    height: 36px;
    top: 48px;
    right: 10px;
    width: 113px;
}

#video-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: "symbols";
}

#audio-btn {
    position: absolute;
    right: 50px;
    top: 10px;
    font-family: "symbols";
}

#file-btn {
    position: absolute;
    right: 90px;
    top: 10px;
    font-family: "symbols";
}

.symbol {
    font-family: "glyphicons";
    line-height: 80%;
    font-size: 80%;
    display:inline-block;
}

.symbol-small {
    font-family: "glyphicons";
    line-height: 80%;
    font-size: 60%;
    display:inline-block;
    margin-bottom: 2px;
}

.modal-footer-small {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 5px;
    color: #000000;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.modal-footer-small button {
    margin: 0px auto;
    position: relative;
    width: calc(33% - 6px);
    padding: 5px 0px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #666;
}

.modal-footer-small button:hover:enabled {
    background-color: #666;
    color: #FFF;
}

.new-msg-btn {
    height: 33px;
    width: 33px;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid #CCC;
    color: #CCC;
    background-color: rgb(255, 255, 255, 0.2);
    float: right;
    line-height: -2px;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
}

.new-msg-btn:hover:enabled {
    color: #000;
    background-color: rgb(255, 255, 255, 0.5);
}

.new-msg-btn:disabled {
    color: #333;
    background-color: rgba(211, 211, 211, 0.2);
    border: 1px solid #666;
    cursor: not-allowed;
}

/* Darker chat container */

#msg-nav {
    display: block;
    height: 55px;
    border: 1px solid red;
    width: 100%;
}


.response {
    border-color: var(--background-dark);
    background-color: var(--background-light);
    float: right;
    resize: horizontal;
}

.msg-from {
    font-weight: bold;
    padding-bottom: 3px;
}

.msg-time {
    color: #666666;
}

/* Clear floats */

.msg::after {
    content: "";
    clear: both;
    display: table;
}

#msg-container::after {
    content: "";
    clear: both;
    display: table;
}

.modal-content {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}

.modal-content .media {
    display: inline-block;
    text-align: center;
    font-style: italic;
}

.modal-body .media video {
    border: 1px solid #000;
    --width: 293px;
    width: var(--width);
    height: calc(var(--width) * 0.5625);
    background-color: #000;
    border-radius: 10px;
}

.modal-body audio {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
  }
  
#progress-wrp .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
  }
  
 #progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
  }