body
{
    background: #FFFFFF;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

#canvas
{
    position: relative;
    background: #acacac;
    color: #000000;
    height: 100%;
    text-align: left;
}


#header
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: #222222;
    color: #DDDDDD;
}

#header-title
{
  position: fixed;
  left: 10px;
  font-size: 16px;
  
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  margin-left: 10px;
  font-weight: bold;
}

#navigation
{
    position: fixed;
    top: 40px;
    bottom: 0px;
    left: 0px;
    width: 250px;
    background: #26308b;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

#room-container
{
  position: absolute;
  top: 10px;
  bottom: 230px;
  width: 206px;
  overflow-y: auto;
  border-radius: 5px;
  border: 2px solid #353f99;
  padding: 10px;
}

#room-container a {
  position: relative;
  line-height: 30px;
  list-style-type: none;
  padding: 5xp;
  margin: 5px;
  width: 200px;
  text-align: center;
  background: yellow;
  display: block;
  border: 1px solid red;
  border-radius: 5px;
}

#room-container a:hover {
  background: green;
}


#room-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#room-container::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #CCC; 
}
 
/* Handle */
#room-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888; 
}

/* Handle on hover */
#room-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#current-delay-container
{
  position: fixed;
  width: 206px;
  bottom: 50px;
  border-radius: 5px;
  border: 2px solid #353f99;
  padding: 10px;
}

.sim-param-label
{
  color: #8e9be7;
}

.sim-param-value
{
  font-weight: bold;
  color: #cecece;
  text-align: right;
  padding-bottom: 5px;
}

#copyright
{
    position: fixed;
    bottom: 10px;
    height: 15px;
    width: 250px;
    color: #7a7bb9;
    text-align: center;
}

#copyright a
{
  color: #7a7bb9;
}

#content
{
    position: fixed;
    top: 40px;
    left: 250px;
    right: 0px;
    bottom: 100px;
    background: #c7c7c7;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#newmsg
{
    position: fixed;
    bottom: 0px;
    left: 250px;
    right: 0px;
    height: 100px;
    background: #26308b;
}

#newmsg div
{
    height: 80px;
    position: relative;
    top: 10px;
    left: 10px;
    right: 100px;

}

#newmsg textarea
{
    width: 80%;
    height: 100%;
    resize: none;
    border-radius: 10px;
}

/* Chat containers */
#msg-container
{

}

.msg {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
  float: left;
}

/* Darker chat container */
.response {
  border-color: rgb(55, 56, 128);
  background-color: rgb(174, 179, 252);
  float: right;
  resize: horizontal;
}

.msg-from {

}

.msg-content {

}

.msg-time {

}

/* Clear floats */
.msg::after {
  content: "";
  clear: both;
  display: table;
}

#msg-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

#header div
{
    padding: 0px;
    margin: 0px;

}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
    height: 40px;
  line-height: 40px;
 padding: 0px 10px;
}

.dropbtn img {
float: right;
  max-width: 30px;
  width: 100%;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
    right: 0px;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}