:root {
    --background-dark: #772F19;
    --background-light: #E0C2C2;
    --text-light-opaque: #C78B8B;
    --border-dark: #A54141; 
    --text-light-bright: #E78E8E;
    --text-dark-opaque: #111111;
    --content-back: #B3B3B3;
}
