body, html {
    color: #FFFFFF;
    background-color: #000000;
}

#canvas {
    background-color: #000;
}

#page-content {
    
    margin: auto;
    min-width: 400px;
    max-width: 800px;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #FFC000;
}

#current-delay {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 400px;
}

#current-delay-login {
    background: #FFC000;
    border: 0px;
    font-size: 12pt;
    width: 100px;
    padding: 10px;
    margin-top: 50px;
}

#current-delay-container {
    min-width: 400px;
    max-width: 800px;
    height: 400px;
    margin: auto;
    text-align: center;
}

#distance-label {
    padding-top: 120px;
}

#owlt-label {
    padding-top: 20px;
}

.sim-param-label {
    color: #A6A6A6;
}

.sim-param-value {
    color: #FFC000;
    font-size: 30px;
}

#credits, #credits a {
    position: relative;
    color: #666;
    min-width: 400px;
    max-width: 900px;
    margin: auto;
    bottom: 0px;
}
