#content {
    position: absolute;
    top: 40px;
    left: 22px;
    right: 22px;
    bottom: 0px;
    background-color: #CCC;
    padding: 10px;
    overflow-y: scroll;
}

#heading {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.subheading {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}

.form-divider {
    border-bottom: 1px dashed #AAA;
    width: 90%;
    margin: 10px auto;
    height: 1px;
}

#navigation {
    position: relative;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    margin-bottom: 15px;
}

.list {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    padding: 0px;
    width: 780px;
    border: 0px;
}

.list-row {
    border: 0px;
    border-bottom: 1px solid #999;
    padding: 5px;
}

.list-row td, .list-row th {
    border: 0px;
    margin: 0px;
}

.darker {
    background-color: #DCDCDC;
}

.top-button {
    padding: 10px;
    margin-bottom: 20px;
}


#form-contents {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
    padding: 0px 0px 80px 0px;
    width: 800px;
    border: 0px;
}

#form-contents label {
    line-height: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px;
    font-weight: bold;
    color: var(--background-dark);
}

#form-contents p {
    line-height: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px;
    color: #666;
}

#form-contents label::after {
    content: "";
    clear: both;
    display: table;
}

.form-row .form-button {
    width: 100%;
    padding: 10px;
}

#form-contents input[type="text"], 
#form-contents input[type="password"], 
#form-contents input[type="file"],
#form-contents select {
    margin-top: 2px;
    margin-bottom: 10px;
    width: 100%;
    padding: 3px 10px;
    line-height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    height: 30px;
}

#form-contents input[type='checkbox'] {
    display: inline-block;
}

/*
.form-box {
    width: calc(50% - 20px);
    margin: 0px;
    padding: 10px;
    float: left;
}
*/

.form-row {
    margin-left: 20px;
    margin-bottom: 10px;
}

.form-row::after {
    content: "";
    clear: both;
    display: table;
}

.form-field {
    width: 55%;
    float: left;
    margin-right: 10px;
}

.form-help {
    width: 39%;
    float: right;
    font-size: 80%;
    color: #666;
    padding-top: 3px;
    
    
}

.add_delay_btn, .del_delay_btn {
    border-radius: 10px;
    height: 20px;
    width: 20px;
    padding: 0px;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

#log-entries {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
    padding: 5px;
    width: 770px;
    height: 200px;
    border: 0px;
    overflow-y: scroll;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
}

.log-time {
    font-weight: bold;
}

.log-error {
    font-weight: bold;
    color: #FF0000;
}

.log-warning {
    font-style: italic;
    color: #FF9933;
}

.log-debug, .log-info {
    color: #666;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-light);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;  
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text-light-bright);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;  
  }
  
  input:checked + .slider {
    background-color: var(--background-dark);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--background-dark);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .form-field .switch-label {
    width: 100px;
    border: 1px solid black;
  }